.call-back-modal {
  width: 601px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 44px 55px;
  background-image: linear-gradient(135deg, rgb(27, 146, 193) 0%, rgb(80, 177, 215) 100%);
  border-radius: 16px;
  z-index: 1000;
  display: none;

  &--visible {
    display: flex;
    flex-direction: column;

    animation-name: show;
    animation-duration: 0.55s;
  }
}

@keyframes show {
  0% {
    transform: translate(-150%, -50%);
  }

  25% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-75%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.call-back-modal__close-button {
  position: absolute;
  right: 34px;
  top: 59px;

  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  outline: none;
}

.call-back-modal__close-button span {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
}

.call-back-modal__close-button span::before,
.call-back-modal__close-button span::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  left: 5px;
  top: 11px;
  background-color: $white;
}

.call-back-modal__close-button span::before {
  transform: rotate(-45deg);
}

.call-back-modal__close-button span::after {
  transform: rotate(45deg);
}

.call-back-modal__close-button:hover span::before,
.call-back-modal__close-button:focus span::before,
.call-back-modal__close-button:hover span::after,
.call-back-modal__close-button:focus span::after {
  background-color: $yellow;
}

.call-back-modal__close-button:active {
  opacity: 0.7;
}

.call-back-modal__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  padding: 0 100px;
}

.call-back-modal__slogan {
  text-align: center;
  font-size: 18px;
  margin: 0 0 33px;
  padding: 0 35px;
}

.call-back-modal__input {
  width: 100%;
  padding: 22px 35px;
  background-color: rgba(255, 255, 255, 0.25);
  color: $white;
  border-radius: 8px;
  font-weight: 600;
  outline: none;
  border: 1px solid transparent;

  &--error {
    border-color: $red;
  }
}

.call-back-modal__input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.call-back-modal__input:focus {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(80, 177, 215, 0.7);
}

.call-back-modal__input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
}

.call-back-modal__checkbox-input:focus + .call-back-modal__checkbox-label::before {
  border-color: $yellow;
}

.call-back-modal__item {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;

  &--name {
    margin-bottom: 23px;
  }
}

.call-back-modal__inputs-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 30px;
}

.call-back-modal__button {
  width: 299px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 23px 20px 19px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  background-color: $button-black;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.call-back-modal__button:hover,
.call-back-modal__button:focus {
  background-color: $yellow;
  color: $button-black;
}

.call-back-modal__button:active {
  opacity: 0.7;
}

.call-back-modal__button-wrap {
  text-align: center;
}

.call-back-modal__confirmation-text {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
}

.call-back-modal__rules-link {
  color: $white;
  text-decoration: underline;
  margin-right: 2px;
}

.call-back-modal__rules-link:hover,
.call-back-modal__rules-link:focus {
  color: $yellow;
}

.call-back-modal__rules-link:active {
  opacity: 0.7;
}

.call-back-modal__wrapper {
  width: 25px;
  height: 25px;
  margin-right: 19px;
}

.call-back-modal__checkbox-label {
  position: relative;
}

.call-back-modal__checkbox-label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: $blue;
  border: 6px solid $white;
  border-radius: 6px;
  top: 3px;
  left: 2px;
}

.call-back-modal__checkbox-input:checked + .call-back-modal__checkbox-label::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-image: url("../img/icons/icon-check-white.svg");
  cursor: pointer;
  top: 3px;
  left: 3px;
}

.call-back-modal__checkbox-input:checked + .call-back-modal__checkbox-label::before {
  border-width: 1px;
}

.call-back-modal__wrapper:hover .call-back-modal__checkbox-label::before {
  cursor: pointer;
  border-color: $yellow;
}

.call-back-modal__checkbox-input--error + .call-back-modal__checkbox-label::before {
  border-color: $red;
}

.call-back-modal__checkbox-input--error:focus + .call-back-modal__checkbox-label::before {
  border-color: $red;
}

.call-back-modal__checkbox-input--error:checked + .call-back-modal__checkbox-label::before {
  border-color: $blue;
}

.call-back-modal__confirmation {
  display: flex;
  margin: 0 0 28px;
}

.call-back-modal__confirmation-text span:first-of-type {
  margin-right: 2px;
}
