.main-nav__link {
  color: $white;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: $yellow;
}

.main-nav__link:active {
  opacity: 0.7;
}

.main-nav__list {
  @include reset-list;

  display: flex;
  width: 576px;
  justify-content: space-between;
  margin-bottom: 7px;
}

.main-nav {
  margin-right: 5px;
  z-index: 5;
}

@media (max-width: $tablet-width) {
  .main-nav {
    margin-right: 0;
  }

  .main-nav__list {
    flex-direction: column;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.85);
  }

  .main-nav__item {
    text-align: center;
    padding: 5px;
  }
}
