.request {
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds/bg-request-desktop@1x.png");
  background-size: cover;
  padding: 225px 10px 108px;
  background-position: top;
  background-color: $bg-request-grey;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-request-desktop@2x.png");
  }
}

.request__promo {
  text-align: center;
  font-size: 64px;
  line-height: 64px;
  color: $yellow;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.request__price-slogan {
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 66px;
  letter-spacing: 0.7px;
}

.request__form-slogan {
  font-size: 18px;
  text-align: center;
  margin: 0 0 23px;
}

@media (max-width: $tablet-width) {
  .request__promo {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 2px;
  }

  .request__price-slogan {
    font-size: 21px;
    line-height: 30px;
    margin: 0 0 18px;
  }

  .request__form-slogan {
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 21px;
  }

  .request {
    padding: 110px 10px 52px;
    background-image: url("../img/backgrounds/bg-request-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/backgrounds/bg-request-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-width) {
  .request {
    padding: 159px 15px 87px;

    background-image: url("../img/backgrounds/bg-request-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/backgrounds/bg-request-mobile@2x.png");
    }
  }

  .request__promo {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 9px;
  }

  .request__price-slogan {
    font-size: 18px;
    line-height: 24px;
    width: 209px;
    margin: 0 auto 39px;
  }

  .request__form-slogan {
    margin-bottom: 24px;
  }
}
