$white: #ffffff;
$black: #000000;
$blue: #50b1d7;
$yellow: #ffe640;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width: 1023px;
$mobile-width: 767px;
$bg-request-grey: #7f7b77;
$blackout: #3d3333;
$button-black: #313131;
$red: rgba(242, 38, 19, 1);
